body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

form div {
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

h1, h2 {
    color: #333;
}

#cuotas-container {
    margin-top: 15px;
}
